#Saveasjson {
    margin-top: 10px;
    margin-bottom: 20px;
}
  
#Saveasjson input[type="checkbox"] {
    margin: 7px;
}
  
#Saveasjson label {
    font-size: 14px;
}

#Heading {
    font-weight: bold;
}
 
   
   
   
   
 
 
 
 
 
