#Openfromjson {
  margin-top: 10px;
  margin-bottom: 20px;
}
      
#Openfromjson input[type="checkbox"] {
  margin: 7px;
}
    
#Openfromjson label {
  font-size: 14px;
}
    
#Heading {
  font-weight: bold;
  margin-left: 6px;
}
 
   
   
   
   
 
 
 
 
 
