



/* DashboardLayout element styles  */
#defaultLayout .e-panel .e-panel-container .e-panel-header {
    vertical-align: middle;
    font-weight: 600;
    font-size: 20px;
    padding:10px
}

.e-panel-content {
    padding:20px;
}

#defaultLayout .e-panel {
  transition:none !important;
}
