


#container {
  width: 350px;
  position: relative;
  left: 50%;
  transform: translateX(-25%);
}

#countrylist {
  padding: 5px;
}

#countrylist ul {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
}

#countrylist li {
  padding: 10px;
}

#countrylist li:hover {
  background-color: #ececec;
}

.contentWrap {
  line-height: 16px;
  padding: 3px 0;
}
