
    .adornment-textbox .content-wrapper {
        width: 35% !important;
        margin: 5% auto !important;
        min-width: 185px;
    }
    .adornment-textbox .row,
    .adornment-textbox .row {
        margin: 7% 0;
    }
    .e-float-input span:not([class]):not(.e-float-text):not(.e-input-separator):not(.e-delete-text) {
        line-height: 1; 
        padding-right: 5px;
    }
    .material3 .e-eye-icon label.e-float-text,
    .material3-dark .e-eye-icon label.e-float-text {
        top: -3px !important;
    }
    .bootstrap5_3 .adornment-textbox .e-icon-textbox .e-float-text,
    .bootstrap5_3 .adornment-textbox  .e-prepend-textbox .e-float-text,
    .bootstrap5_3-dark .adornment-textbox .e-icon-textbox .e-float-text,
    .bootstrap5_3-dark .adornment-textbox  .e-prepend-textbox .e-float-text,
    .tailwind3 .adornment-textbox .e-icon-textbox .e-float-text,
    .tailwind3 .adornment-textbox  .e-prepend-textbox .e-float-text,
    .tailwind3-dark .adornment-textbox .e-icon-textbox .e-float-text,
    .tailwind3-dark .adornment-textbox  .e-prepend-textbox .e-float-text  {
        padding-left: 0 !important;
    }
    .material3 .adornment-textbox label.e-float-text.e-label-bottom,
    .material3-dark .adornment-textbox label.e-float-text.e-label-bottom {
        top: -2px !important;
    }
    .bootstrap5_3 .adornment-textbox label.e-float-text.e-label-bottom,
    .bootstrap5_3-dark .adornment-textbox label.e-float-text.e-label-bottom {
        top: 17px !important;
    }
    .tailwind3 .adornment-textbox label.e-float-text.e-label-bottom,
    .tailwind3-dark .adornment-textbox label.e-float-text.e-label-bottom {
        top: 18px !important;
    }
    .fluent2-highcontrast .adornment-textbox label.e-float-text.e-label-bottom {
        top: -9px !important;
    }
    .fluent2 .adornment-textbox label.e-float-text.e-label-bottom,
    .fluent2-dark .adornment-textbox label.e-float-text.e-label-bottom {
        top: -9px !important;
    }
    .bootstrap5_3 .adornment-textbox .e-prepend-template,
    .bootstrap5_3-dark .adornment-textbox .e-prepend-template {
        padding-right: 0 !important;
    }
    .adornment-textbox .e-eye-icon .e-icons.e-eye,
    .adornment-textbox .e-eye-icon .e-icons.e-eye-slash,
    .adornment-textbox .e-icon-textbox .e-icons.e-trash {
        cursor: pointer;
    }