
  .e-message {
    margin: 100px;
  }
</style>
<script>
import Vue from "vue";
import { MessagePlugin } from "@syncfusion/ej2-vue-notifications";

Vue.use(MessagePlugin);
export default {
  name: "app",
  data() {
    return {
      content: "Please read the comments carefully"
    };
  }
}
</script>
<style>
  
  
