
  
  

  #err1, #err2, #err3 {
    display: none;
    color: red;
    margin-top: 10px;
    font-weight: 500;
  }

  #err1.show,
  #err2.show,
  #err3.show {
    display: block;
  }

  .e-dialog {
    max-height: 300px !important; /* csslint allow: important */
  }

  .template_title {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 16px;
  }
