
.promptItemContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.promptItemContent {
    align-items: flex-end;
    margin-right: 20px
}

.promptItemContent .prompt-header {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.promptItemContent .prompt-header span {
    margin-left: 10px;
}

.promptItemContent .content {
    margin-right: 35px;
}
