#loader {
  color: #008cff;
  height: 40px;
  width: 30%;
  position: absolute;
  top: 45%;
  left: 45%;
}

.e-pivot-pager {
  display: flex;
}

.pager-label {
  color: #9e9e9e;
  margin-right: 10px;
}

#row-pager {
  margin-right: 10px;
}