



/* DashboardLayout element styles  */
#dashboard_layout .e-panel .e-panel-container .content {
    vertical-align: middle;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
}

#dashboard_layout .e-panel {
  transition:none !important;
}
