



  #app {
    color: #008cff;
    height: 40px;
    position: absolute;
    width: 90%;
    top: 10%;
  }

  .autocomplete {
    width: 30%;
    margin: 0 auto;
  }
  .city{
    right: 15px;
    position: absolute;
  }
