
  
  
  

  .control-container {
      margin: 0 auto 2em;
      max-width: 800px;
      height: 300px;
    }

    .img-container {
      margin: 0 10px;
      width: 100%;
      height: 100%;
    }

    .img-caption {
      bottom: 4em;
      color: #fff;
      font-size: 12pt;
      height: 2em;
      position: relative;
      padding: 0.3em 1em;
      text-align: center;
      width: 100%;
    }
