



  .head,
.item {
    display: table;
    width: 100%;
    margin: auto;
}

.head {
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-indent: 1.067em;
}

.name,
.city {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
  #app {
    color: #008cff;
    height: 40px;
    position: absolute;
    top: 10%;
    width: 90%;
  }

  .combobox {
    width: 30%;
    margin: 0 auto;
  }
