


    #app {
        color: #008cff;
        height: 40px;
        left: 45%;
        position: absolute;
        top: 45%;
        width: 30%;
    }
    .control-section {
        height: 100%;
        min-height: 200px;
    }
    .wrap {
    box-sizing: border-box;
    margin: 0 auto;
    width: 260px;
    }
    .e-dlg-container .e-float-input {
    margin: 17px 0;
    }
    .e-dlg-container .wrap .e-control .e-btn {
        margin: 3% 26%;
    }

    .text-center {
        text-align: center;
    }

    #content {
        margin-top: 12px;
    }

    .e-dlg-container .e-footer-content {
        padding: 20px 0 0;
        width: 100%;
    }

    .e-dlg-container .e-dialog .e-footer-content .e-btn {
        width: 100%;
        height: 36px;
        margin-left: 0px;
    }

    .e-dlg-container .e-dialog .e-footer-content {
        padding: 0 18px 18px;
    }
    .e-dlg-container .e-dialog .e-dlg-header-content .e-dlg-header {
        color: #333;
        font-weight: bold;
        text-align: center;
        width:  100%;
        font-size: 20px;
    }
