



/* DashboardLayout element styles  */
#defaultLayout .e-panel .e-panel-container {
    vertical-align: middle;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.text-align {
    line-height: 80px;
}

#defaultLayout .e-panel {
  transition:none !important;
}
