/* Dashboard Layout component styles  */
#dashboard_default .e-panel .e-panel-content {
    vertical-align: middle;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
}

#control_dash {
    display: block;
    width: 59%;
    float: left;
}
#api_property {
  display: inline-block;
  margin: 10px;
}

#add {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

#remove {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 377px;
}

#property {
    padding:10px;
}

#removeButton {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 125px;
}

#dashboardElement {
    padding-top: 30px;
}

#dashboard_default .e-panel {
  transition:none !important;
}
