





.e-listbox-wrapper {
  margin: auto;
  max-width: 400px;
  box-sizing: border-box;
}

#container {
  box-sizing: border-box;
}

#container .e-listbox-wrapper:not(.e-list-template) .e-list-item {
  padding: 0;
  position: unset;
  cursor: pointer;
  height: 76px;
  line-height: normal;
}

.list-wrapper {
    height: inherit;
    position: relative;
    padding: 14px 12px 14px 78px;
}

.list-wrapper .text,
.list-wrapper .description {
  display: block;
  margin: 0;
  padding-bottom: 3px;
  white-space: normal;
}

.list-wrapper .description {
  font-size: 12px;
  font-weight: 500;
}

#container .e-listbox-wrapper .list-wrapper .text {
  font-weight: bold;
  font-size: 13px;
}

.list-wrapper .e-avatar {
    position: absolute;
    left: 5px;
    background-color: transparent;
    font-size: 22px;
    top: calc(50% - 33px);
}

.javascript {
  background-image: url('jses5-1.svg');
  width: 70px;
  height: 60px;
  background-repeat: no-repeat;
}

.typeScript {
  background-image: url('javascript1.svg');
  width: 70px;
  height: 60px;
  background-repeat: no-repeat;
}

.angular {
  background-image: url('angular1.svg');
  width: 70px;
  height: 60px;
  background-repeat: no-repeat;
}

.vue {
  background-image: url('vue.svg');
  width: 70px;
  height: 60px;
  background-repeat: no-repeat;
}

.react {
  background-image: url('react.svg');
  width: 70px;
  height: 60px;
  background-repeat: no-repeat;
}

