
  
  
  
  
  

  #app {
      color: #008cff;
      height: 40px;
      left: 15%;
      position: absolute;
      top: 10%;
      width: 30%;
  }

  #comment {
      font-size: 15px;
      font-weight: 600;
  }

  #mentionElement {
      min-height: 100px;
      border: 1px solid #D7D7D7;
      border-radius: 4px;
      padding: 8px;
      font-size: 14px;
      width: 600px;
  }

  div#mentionElement[placeholder]:empty:before {
      content: attr(placeholder);
      color: #555;
  }
