
  
  
  
  
  
  
  
  

  .e-schedule .e-vertical-view .e-content-wrap .e-appointment {
    border-radius: 8px;
  }

  .e-schedule .e-vertical-view .e-content-wrap .e-appointment .e-appointment-details {
    padding: 0;
    height: 100%;
  }

  .e-schedule .template-wrap {
    height: 100%;
    white-space: normal;
  }

  .e-schedule .template-wrap .subject {
    font-weight: 600;
    font-size: 15px;
    padding: 4px 4px 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .e-schedule .template-wrap .time {
    height: 50px;
    font-size: 12px;
    padding: 4px 6px 4px;
    overflow: hidden;
  }
