
  
  

  .wrap {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 10px;
    width: 340px;
  }

  #input-container .e-float-input { /* csslint allow: adjoining-classes */
    margin: 30px 0;
  }
