



    #container {
        visibility: hidden;
        padding-left: 5%;
        width: 100%;
    }
    #loader {
        color: #008cff;
        font-family: 'Helvetica Neue','calibiri';
        font-size: 14px;
        height: 40px;
        left: 45%;
        position: absolute;
        top: 45%;
        width: 30%;
    }
     #dropTarget {
            min-height: 50px;
            padding-top: 15px;
            position: relative;
    }
    #clearbtn {
        margin: 0px 0px 0px 30%;
    }
    #dropElement {
        padding: 3% 28% 3%;
        display: inherit;
        border: 1px dashed #c3c3cc
    }

    .template-view .control_wrapper {
        max-width: 400px;
        margin: auto;
    }

    .template-view .e-file-select-wrap {
        display: none;
    }

    .template-view .e-upload {
        float: none;
        border: none;
    }

    .template-view .ul-element {
        list-style: none;
        width: 100%;
        padding-left: 0;
    }

    .template-view .file-name {
        padding: 8px 6px 8px 0;
        font-size: 13px;
        width: 46%;
        display: inline-block;
        position: relative;
        top: 4px;
    }

    .template-view .file-size {
        padding: 4px;
        font-size: 13px;
        width: 18%;
        display: inline-block;
        position: relative;
    }

    .template-view .file-lists {
        border: 1px solid lightgray;
        padding: 0 6px 0 14px;
        margin-top: 15px;
        position: relative;
        background: rgba(0, 0, 0, 0.04);
    }

    .template-view .file-size, .template-view .file-name {
        font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .template-view span.progress-bar-container {
        display: block;
        float: right;
        height: 20px;
        right: 13%;
        top: 14px;
        position: relative;
        width: 20%;
    }

    .template-view .progress{
        width: 100%;
        height: 15px;
        -webkit-appearance: none;
    }

    .template-view .close-icon-container
    {
        cursor: pointer;
        font-size: 11px;
        height: 24px;
        margin: 0 12px 0 22px;
        padding: 0;
        position: absolute;
        right: 0;
        width: 24px;
        top: 6px;
    }
    .template-view .close-icon-container.remove-btn {
       display: none;
    }

    .template-view .close-icon-container.e-icons::before {
        left: 7px;
        position: inherit;
        top: 7px;
        content: '\e932';
    }

    .template-view .close-icon-container.delete-icon::before {
        content: '\e94a';
    }

    .template-view .close-icon-container:hover {
        background-color: rgba(0, 0, 0, 0.12);
        border-color: transparent;
        border-radius: 50%;
        box-shadow: 0 0 0 transparent;
    }

    .template-view .upload-success {
       color: #2bc700;
    }

    .template-view .upload-fails {
        color: #f44336;
    }

    .template-view progress::-webkit-progress-bar {
        border: 1px solid lightgrey;
        background-color: #ffffff;
        border-radius: 2px;
    }
    #dropTarget progress {
        border: 1px solid lightgrey;
        background-color: #ffffff;
        border-radius: 2px;
    }
    .material .template-view progress::-webkit-progress-value {
        border-radius: 2px;
        background-color: #ff4081;
    }

    .material .template-view progress::-moz-progress-bar {
        border-radius: 2px;
        background-color: #ff4081;
    }
    .material #dropTarget span a {
        color:#ff4081;
    }

