


#app {
    text-align: center;
    margin: 65px auto;
}
.content {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.removeBtn {
  margin-top: 20px;
  text-align: initial;
}
