




.title {
    text-align: center;
    font-size: 20px;
    padding: 15px;
}

.sub-title {
    text-align: center;
    font-size: 16px;
    padding: 10px;
}
  #default-sidebar {
    background-color: rgb(25, 118, 210);
    color: #ffffff;
}
