.e-ribbon-backstage-content{
    width: 550px;
    height: 350px;
}

.section-title {
    font-size: 22px;
}

.new-docs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category_container {
    width: 150px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

.doc_category_image {
    width: 80px;
    height: 100px;
    background-color: #fff;
    border: 1px solid rgb(125, 124, 124);
    text-align: center;
    overflow: hidden;
    margin: 0px auto 10px;
}

.doc_category_text {
    font-size: 16px;
}

.section-content {
    padding: 12px 0px;
    cursor: pointer;
}

.doc_icon {
    font-size: 16px;
    padding: 0px 10px;
}

.category_container:hover, .section-content:hover {
    background-color: #dfdfdf;
    border-radius: 5px;
    transition: all 0.3s;
}

#targetElement{
    width: 500px;
    height: 500px;
}

#items-wrapper ul {
    padding: 0;
    margin: 0;
}

#items-wrapper li {
    height: 38px;
    font-size: 16px;
    list-style: none;
    cursor: pointer;
    text-align: center;
    padding-top: 10px;
}

#items-wrapper li span {
    margin-right: 15px;
    font-size: 14px;
}

#items-wrapper ul li:hover{
    background-color: #a5bff4;
}

#content-wrapper .content-close{
    display: none;
}

#content-wrapper .content-open{
    display: block;
}