

</style>

<style lang="scss">
#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

#snooze,
#dismiss {
    background-color: #fff;
}

body>#element .e-toast {
    width: 400px !important;
}

.toast-template-section #reminder {
    text-align: center;
    margin: 15px;
}

#toast_custom .e-toast-template {
    display: inline-flex;
}

#template_toast .toast-icons {
    font-size: 35px;
    height: auto;
    margin: auto;
}

#template_toast .toast-icons.e-alarm::before {
    content: "\e702";
}

#template_toast .horizontal-align {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

#template_toast .horizontal-align,
#template_toast #snoozedropDown,
#template_toast .snooze,
#template_toast .snoozeBtn {
    margin: 10px 0;
}

#template_toast .horizontal-align .toast-content .toast-title {
    font-weight: 500;
}

#template_toast .horizontal-align .toast-content .toast-message {
    opacity: 0.4;
}

#template_toast .horizontal-align .toast-content {
    display: inline-flex;
    flex: 1;
    flex-direction: column;
    margin-left: 10px;
}
