    .adornment-mask .content-wrapper div.mask-row {
        max-width: 250px;
        margin: 0 auto;
        padding: 40px 0px 0px;
    }
    .adornment-mask .multiline-property td {
        padding: 10px 0px;
        width: 50%;
    }
    .mask-row label.e-float-text, .e-float-input:not(.e-error):not(.e-input-focus) input:not(:focus):valid~label.e-float-text.e-label-bottom, .e-float-input.e-control-wrapper:not(.e-error):not(.e-input-focus) input:not(:focus):valid~label.e-float-text.e-label-bottom {
        margin-top: -2px;
    }
    .bootstrap5\.3 .mask-row .e-float-text,
    .bootstrap5\.3-dark .mask-row .e-float-text,
    .tailwind3 .mask-row .e-float-text,
    .tailwind3-dark .mask-row .e-float-text {
        padding-left: 0 !important;
    }
    .fluent2 .mask-row .e-label-bottom,
    .fluent2-dark .mask-row .e-label-bottom,
    .fluent2-highcontrast .mask-row .e-label-bottom {
        top: -8px !important;
    }
    .bootstrap5_3 .adornment-mask .e-prepend-template,
    .bootstrap5_3-dark .adornment-mask .e-prepend-template {
        padding-right: 0 !important;
    }
    .e-bigger.material3 .adornment-mask label.e-float-text.e-label-bottom,
    .e-bigger.material3-dark .adornment-mask label.e-float-text.e-label-bottom {
        top: -4px !important;
    }
    .e-bigger.bootstrap5_3 .adornment-mask label.e-float-text.e-label-bottom,
    .e-bigger.bootstrap5_3-dark .adornment-mask label.e-float-text.e-label-bottom {
        top: 20px !important;
    }