





/* DashboardLayout element styles  */
#dashboard_default .e-panel .e-panel-content {
  vertical-align: middle;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
}

.chart-content{
  height: 100%;
  width:100%;
}

#container{
  width: 100%;
  height: 100%;
}

#dashboard_default .e-panel {
  transition:none !important;
}
