

    

    #element {
        display: block;
        width: 400px;
        margin: auto;
        border: 1px solid #dddddd;
        border-radius: 3px;
        justify-content: center;
    }

    h1 {
        text-align: center;
    }

    .e-badge.size_1 {
        font-size: 12px;
    }

    .e-badge.size_2 {
        font-size: 16px;
    }

    .e-badge.size_3 {
        font-size: 18px;
    }

