
  
  
  
  

  .e-appbar .e-folder {
    margin:0 5px;
  }

  #wrapper.control-section {
    padding: 15px 0px;
  }

  #wrapper .sidebar-treeview {
    z-index: 20 !important;
  }

  #wrapper .main-sidebar-content {
    height: 380px;
  }

  .sidebar-treeview .main-menu .main-menu-header {
    color: #656a70;
    padding: 15px 15px 15px 0;
    font-size: 14px;
    width: 13em;
    margin: 0;
  }

  #main-text .sidebar-heading {
    font-size: 16px;
  }

  .sidebar-treeview .table-content {
    padding: 20px 14px;
    height: 8em;
  }

  #main-text .sidebar-content .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
  }

  #main-text .sidebar-content {
    padding: 15px;
    font-size: 14px;
  }

  #main-text .paragraph-content {
    padding: 15px 0;
    font-weight: normal;
    font-size: 14px;
  }

  .e-folder {
    text-align: center;
    font-weight: 500;
    font-size: 16px
  }

  .e-folder-name {
    margin-top: 1px;
  }

  .sidebar-treeview .e-treeview .e-icon-collapsible,
  .sidebar-treeview .e-treeview .e-icon-expandable {
    float: right;
    margin: 3px;
  }

  .sidebar-treeview .e-treeview,
  .sidebar-treeview .e-treeview .e-ul {
    padding: 0;
    margin: 0;
  }

  .sidebar-treeview .e-treeview .e-text-content {
    padding-left: 14px;
  }

  #wrapper .e-appbar {
    border-bottom: 1px solid #eaeaeae0;
  }

  .sidebar-treeview {
    border-right: 1px solid #eaeaeae0;
  }

  #reswrapper{
    border: 1px solid #d7d7d7;
  }
