




/* DashboardLayout element styles  */
#dashboard_default .e-panel .e-panel-content {
    vertical-align: middle;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
}

#control_dash {
    display: block;
    width: 60%;
    float: left;
}

#api_property {
    display: inline-block;
}

#float_id {
    border: 1px solid black;
    padding:20px;
    margin:30px;
}

#remove {
    border: 1px solid black;
    margin:30px;
}

td {
    padding:20px;
}

#dashboard_default .e-panel {
  transition:none !important;
}
