
  
  

  .wrap {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 10px;
    width: 340px;
  }

  #input-container .e-input-group { /* csslint allow: adjoining-classes */
    margin: 30px 0;
  }
  #input-container .e-float-input { /* csslint allow: adjoining-classes */
    margin: 30px 0;
  }
  .e-input-group.e-error .e-input { /* csslint allow: adjoining-classes */
    color: #f44336;
  }

  .e-float-input.e-error input { /* csslint allow: adjoining-classes */
    color: #f44336;
  }

  .wrap label { /* csslint allow: adjoining-classes */
    font-weight:bold;
  }

